{% load static %}
<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                    <ul>
                        <li><a href="https://github.com/FdevB">Developed By <span style="color: #ffe499;">FarhamB.dev</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-6 header-top-right">
                    <div class="header-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="{% url 'home_app:home' %}"><img src="{% static 'img/logo.png' %}" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="{% url 'home_app:home' %}">Home</a></li>
                    <li><a href="{% url 'blog_app:blog' %}">Blog</a></li>
                    <li><a href="{% url 'info_app:about-us' %}">About</a></li>
                    <li><a href="{% url 'info_app:contact-us' %}">Contact</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="user_avatar_cell">
                        <div class="photo_dropdown">
                            <a href="{{ user.profile.get_absolute_url }}"><img class="user_avatar" src="{{ user.profile.avatar.url }}" alt=""></a>
                            <ul class="photo_dropdown_content">
                                <li><h6><span style="color: #9a9a9a; margin-right: 8px;">Hey</span>{{ user.username }}</h6></li>
                                <li class="divider2"></li>
                                <li><a href="{{ user.profile.get_absolute_url }}">Dashboard</a></li>
                                <li><a href="{% url 'accounts_app:log-out' %}">Log out</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li class="auth-btn"><a href="{% url 'accounts_app:log-in' %}">Log in</a></li>
                    {% endif %}
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->